<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bookstore — New Book</title>
</head>
<body>
    <h1>New Book</h1>
    <form action="#" th:action="@{/book/create}" th:object="${book}" method="post">
        <label for="title">Title</label>
        <input id="title" th:field="*{title}" type="text" />
        <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}">Error</span>
        <br>
        <label for="author">Author</label>
        <input id="author" th:field="*{author}" type="text" />
        <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}">Error</span>
        <br>
        <label for="year">Year</label>
        <input id="year" th:field="*{year}" type="number" min="0" max="2100" step="1" />
        <span th:if="${#fields.hasErrors('year')}" th:errors="*{year}">Error</span>
        <br>
        <label for="isbn">ISBN</label>
        <input id="isbn" th:field="*{isbn}" type="text" />
        <span th:if="${#fields.hasErrors('isbn')}" th:errors="*{isbn}">Error</span>
        <br>
        <label for="price">Price</label>
        <input id="price" th:field="*{price}" type="number" min="0.00" max="10000.00" step="0.01" />
        <span th:if="${#fields.hasErrors('price')}" th:errors="*{price}">Error</span>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>