<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title th:if="${book.id == null}">Bookstore — New Book</title>
    <title th:if="${book.id != null}">Bookstore — Edit Book</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span th:inline="text" class="navbar-brand">Hello, [[${#httpServletRequest.remoteUser}]]!</span>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link text-white">Sign Out</button>
            </form>
        </div>
    </nav>
</header>
<main class="container mt-3">
    <h1 th:if="${book.id == null}" class="mb-3">New Book</h1>
    <h1 th:if="${book.id != null}" class="mb-3">Edit Book</h1>
    <form th:action="@{/book/save}" th:object="${book}" method="post">
        <input th:if="${book.id != null}" th:field="*{id}" type="hidden"/>
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input id="title" class="form-control" th:field="*{title}" type="text"/>
            <div th:if="${#fields.hasErrors('title')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{title}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="author" class="form-label">Author</label>
            <input id="author" class="form-control" th:field="*{author}" type="text"/>
            <div th:if="${#fields.hasErrors('author')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{author}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="year" class="form-label">Year</label>
            <input id="year" class="form-control" th:field="*{year}" type="number" min="0" max="2100" step="1"/>
            <div th:if="${#fields.hasErrors('year')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{year}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="isbn" class="form-label">ISBN</label>
            <input id="isbn" class="form-control" th:field="*{isbn}" type="text"/>
            <div th:if="${#fields.hasErrors('isbn')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{isbn}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input id="price" class="form-control" th:field="*{price}" type="number" min="0.00" max="10000.00"
                   step="0.01"/>
            <div th:if="${#fields.hasErrors('price')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{price}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <div class="mb-3">
            <label for="category" class="form-label">Category</label>
            <select id="category" class="form-control" th:field="*{category}">
                <option th:each="category: ${categories}" th:value="${category.id}" th:text="${category.name}"></option>
            </select>
            <div th:if="${#fields.hasErrors('category')}" class="alert alert-danger alert-dismissible fade show" role="alert">
                <span th:errors="*{category}">Error</span>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
        <button type="submit" class="btn btn-success">Save</button>
    </form>
</main>
</body>
</html>