<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Bookstore</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}"/>
    <script th:src="@{/js/bootstrap.min.js}"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-dark bg-primary">
        <div class="container">
            <span th:inline="text" class="navbar-brand">Hello, [[${#httpServletRequest.remoteUser}]]!</span>
            <form th:action="@{/logout}" method="post">
                <button type="submit" class="btn btn-link text-white">Sign Out</button>
            </form>
        </div>
    </nav>
</header>
<main class="container pt-3">
    <h1 class="mb-3">Books</h1>
    <table class="table table-striped border">
        <thead>
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Year</th>
            <th>ISBN</th>
            <th>Price</th>
            <th>Category</th>
            <th></th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book: ${books}">
            <td th:text="${book.title}"></td>
            <td th:text="${book.author}"></td>
            <td th:text="${book.year}"></td>
            <td th:text="${book.isbn}"></td>
            <td th:text="${book.price}"></td>
            <td th:text="${book.category.name}"></td>
            <td><a th:href="@{/book/{id}/edit(id=${book.id})}" class="btn btn-primary">Edit</a></td>
            <td><a th:href="@{/book/{id}/delete(id=${book.id})}" class="btn btn-danger">Delete</a></td>
        </tr>
        </tbody>
    </table>
    <p><a th:href="@{/book/create}" class="btn btn-success">New book</a></p>
</main>
</body>
</html>